includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
parameters:
	root: %rootDir%/../../../../../
	tmpDir: var/cache2
	excludes_analyse:
		- %root%/var/
		- app/Models/Utility/Panel.php
	universalObjectCratesClasses:
		- Mockery\ExpectationInterface
		- Mockery\HigherOrderMessage
		- Nette\Utils\ArrayHash
		- Nette\Bridges\ApplicationLatte\Template
		- Nette\Application\UI\ITemplate
	autoload_directories:
		- tests
	fileExtensions:
		- php
		- phpt
	autoload_files:
		- vendor/autoload.php
		- tests/autoloadForPhpstan.php
	ignoreErrors:
		- '#Only booleans are allowed in a negated boolean, int given.#'
