parameters:
	redis_host: "127.0.0.1"
	redis_database: 3
	output_blockchain_file_name: '/home/ubuntu/mounted2/blockchain.raw.tmp'

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

tracy:
	strictMode: true
	maxLength: 999
	maxDepth: 10
	showLocation: true

session:
	autoStart: false


services:
	router: App\Router\RouterFactory::createRouter
	- App\Models\RpcDaemon(%daemon_url%, %daemon_port%)
	- App\Models\Filters\TemplateFilters()
	- App\Forms\ViewKeyFormFactory
	- App\Forms\FormFactory
	- App\Models\RedisStorageService(%redis_host%, %redis_database%)
	- App\Models\Console\UploadBlockchainToS3Command(%s3_key%, %s3_secret%, %citicash_io_server%)
	nette.latteFactory:
		setup:
			- addFilter(null,[App\Models\Filters\TemplateFilters(), 'loader'])
http:
	headers:
		Access-Control-Allow-Methods: 'GET, POST, OPTIONS'
		Access-Control-Allow-Origin: '*'
		Feature-Policy: 'none'
		Referrer-Policy: 'no-referrer'
		Strict-Transport-Security: 'max-age=2592000; includeSubDomains; preload'
		X-Content-Type-Options: 'nosniff'
		X-Frame-Options: 'DENY'
		X-Powered-By: CitiCash Nette
		X-XSS-Protection: '1; mode=block'
